# Default ignored files
/../../lesFormulaire /.idea/shelf/
/../../lesFormulaire /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../lesFormulaire /.idea/httpRequests/
# Datasource local storage ignored files
/../../lesFormulaire /.idea/dataSources/
/../../lesFormulaire /.idea/dataSources.local.xml
